/* Cart */
.cart {
  padding: 0px;
}

.cart label {
  word-wrap: break-word;
  word-spacing: 12px;
}

.cart label span {
  color: rgba(0, 0, 0, 0.5);
}

.product-details {
  padding: 0px 135px 140px 135px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400px;
  line-height: 24px;
}

.product-list {
  margin-top: 80px;
}

.product_1,
.product_2,
.product_3 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
}

.product_1 {
  padding: 24px 39px 24px 40px;
}

.product_2,
.product_3 {
  padding: 40px 24px;
}

.quantity_btn {
  position: relative;
  padding: 6px 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1.50px solid rgba(0, 0, 0, 0.40);
  border-radius: 4px;
  background-color: white;
}

.quantity_btn button {
  border: none;
  padding: 6px 12px;
  background-color: white;
}

.arrow_up {
  position: absolute;
  top: 5px;
  left: 41px;
}

.arrow_down {
  position: absolute;
  top: 15px;
  left: 41px;
}

.quantity_btn button label {
  padding-left: 0px;
}

.product-btn {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.product-btn button {
  height: 56px;
  width: 218px;
  padding: 16px 48px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500px;
  line-height: 24px;
  word-wrap: 'break-word';
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
}

.product-btn button:nth-child(2) {
  width: 195px;
}

.cart_total {
  display: flex;
  margin-top: 80px;
  width: auto;
  height: 324px;
  justify-content: space-between;
}

.coupon {
  padding-top: 50px;
}

.coupon input {
  height: auto;
  width: 150px;
  padding: 16px 164px 16px 24px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500px;
  line-height: 24px;
  word-wrap: 'break-word';
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
}

.coupon button {
  width: 211px;
  height: 56px;
  padding: 16px 48px;
  border: none;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500px;
  line-height: 24px;
  word-wrap: 'break-word';
  gap: 10px;
  color: white;
  background-color: rgba(219, 68, 68, 1);
  border-radius: 5px;
  margin-left: 16px;
}

.price {
  width: 470px;
  height: 324px;
  position: relative;
  border: 1.5px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 32px 0px 24px 24px;
  line-height: 24px;
  padding-right: 0px;
}

.price p h4 {
  padding-left: 24px;
  word-spacing: 307px;
}

.price hr {
  width: 90%;
}

.price_btn {
  padding: 24px 121px 32px 89px;
}

.price button {
  padding: 16px 48px;
  background-color: rgba(219, 68, 68, 1);
  color: white;
  border-radius: 4px;
  border: none;
  gap: 10px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500px;
  line-height: 24px;
  word-wrap: 'break-word';
}

/* ............About............. */

.text {
  padding: 0px 135px;
}

.text label {
  word-wrap: break-word;
  word-spacing: 12px;
}

.text label span {
  color: rgba(0, 0, 0, 0.5);
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 135px;
}

.about h2 {
  font-size: 54px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 3.24px;
  word-wrap: 'break-word';
}

.about p {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 26px;
  word-wrap: 'break-word';
}

.sale_detail {
  padding: 100px 135px;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box_1 {
  padding: 30px 51px 30px 50px;
}

.box_2 {
  padding: 32px 35px;
}

.box_3 {
  padding: 30px 0px;
}

.box_4 {
  padding: 30px 29px 30px 28px;
}

.sale_col_1 {
  width: 270px;
  height: 230px;
}


.icon_1 {
  position: absolute;
  top: 23px;
  left: 54px;
}

.icon_2 {
  position: absolute;
  top: 20px;
  left: 61px;
}

.icon_3 {
  position: absolute;
  top: 20px;
  left: 101px;
}

.icon_4 {
  position: absolute;
  top: 23px;
  left: 74px;
}

.members {
  padding: 140px 135px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.member_1 {
  width: 370px;
  height: 564px;
}

.member_img {
  background-color: whitesmoke;
}

.member_img .tom {
  width: 100%;
  height: 100%;
  padding: 39px 67px 0px 67px;
}

.member_img .emma {
  width: 100%;
  height: 100%;
  padding: 33px 38px 0px 38px;
}

.member_img .smith {
  width: 100%;
  height: 100%;
  padding: 38px 22px 0px 22px;
}

/* --------Dots-------- */

.dots {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: 'center';
  gap: 12px;
}

.black_dot {
  width: 12px;
  height: 12px;
  background: rgb(0, 0, 0, 0.30);
  border-radius: 100%;
}

.red {
  width: 16px;
  height: 16px;
  position: relative;
}

.red_dot {
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  position: absolute;
  background: rgb(219, 68, 68);
  border-radius: 100%;
}

.bg {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  position: 'absolute';
  border-radius: 100%;
  border: 2px solid rgb(0, 0, 0, 0.30);
}

/* ---------Services----------- */
.services {
  padding: 100px 248px 240px 249px;
}

.services h3 {
  color: 'black';
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: '900';
  line-height: 28px;
  word-wrap: 'break-word'
}

.services p {
  color: 'black';
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: '400';
  line-height: 21px;
  word-wrap: 'break-word'
}

.delivery {
  width: 294px;
  height: 161px;
  margin-right: 88px;
}

.customer_service {
  width: 270px;
  height: 161px;
  margin-right: 88px;
}

.guarantee {
  width: 288px;
  height: 161px;
}

.services_bg_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery_icon {
  position: absolute;
  top: 22px;
  left: 115px;
}

.customer_service_icon {
  position: absolute;
  top: 19px;
  left: 102px;
}

.guarantee_icon {
  position: absolute;
  top: 20px;
  left: 112px;
}



/* -----------Account------------- */

.account {
  padding: 0px 135px;
}

.account_heading {
  display: flex;
  justify-content: space-between;
}

.account_heading label {
  word-wrap: break-word;
  word-spacing: 12px;
}

.account_heading label span {
  color: rgba(0, 0, 0, 0.5);
}

.account_heading .wlcm {
  color: rgba(219, 68, 68, 1);
}

.account_info {
  margin-top: 80px;
  display: flex;
}

.account_menu h4 {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 24px;
  word-wrap: 'break-word';
}
.profile_edit{
  margin-left: 134px;
  width: 870px;
  height: 630px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
}

.profile,
.orders {
  padding-left: 35px;
}

.profile span {
  color: rgba(219, 68, 68, 1);
}

.profile p,
.orders p {
  color: rgba(0, 0, 0, 0.5);
}

.my_profile {
  padding: 40px 80px;
  width: 870px;
  height: 630px;
}

.my_profile span {
  color: rgba(219, 68, 68, 1);
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  word-wrap: break-word;
}

.name_section,
.email_section {
  display: flex;
  gap: 50px;
}

.my_profile input {
  background-color: whitesmoke;
  width: 330px;
  height: 50px;
  border: none;
}

.password_section input {
  display: block;
  margin: 16px;
  width: 710px;
}
.profile_btn{
  display: flex;
  justify-content: end;
  margin-right: 60px;
}